/* generar los colores con wal -i [ruta_de_imagen] por si no estan en el archivo */
@import "../../.cache/wal/colors-waybar.css";

@define-color main-color @color13;

* {
    border: none;
    border-radius: 0px;
    font-family: "DepartureMono Nerd Font"; /*Ndot55 */
    font-weight: bold;
    font-size: 16px;
    min-height: 0;
}

window#waybar {
    border-radius: 20px;
    background: alpha(@background, 0.3);
}

tooltip {
    background: alpha(@background, 0.3);
    border-radius: 10px;
    border: 2px solid alpha(lighter(@main-color), 0.3);
}

tooltip label {
    color: @foreground;
}

#workspaces {
    background: alpha(@background, 0.2);
    padding: 0px 14px 0px 14px;
    border-radius: 20px;
    margin-top: 4px;
    margin-bottom: 4px;
}

#workspaces button {
    padding: 0px;
    color: alpha(@foreground, 0.5);
    background: transparent;
    border-radius: 20px;
    margin-top: 3px;
    margin-bottom: 3px;
    padding-left: 7px;
    padding-right: 2px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.4s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#workspaces button.active {
    background: alpha(@background, 0.2);
    color: lighter(@color13);
    border-radius: 20px;
    transition: color 0.5s;
    margin-left: 5px;
    padding-left: 12px;
    padding-right: 6px;
    margin-right: 5px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.8s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#workspaces button.special {
    background: alpha(@background, 0.2);
    color: lighter(@color13);
    border-radius: 20px;
    transition: color 0.5s;
    margin-left: 5px;
    padding-left: 12px;
    padding-right: 6px;
    margin-right: 5px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.8s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}
#workspaces button.focused {
    color: @color5;
    background: transparent;
}

#workspaces button.urgent {
    color: @color5;
    background: transparent;
}

#workspaces button:hover {
    background: transparent;
    color: rgba(255, 255, 255, 0.5);
}

#battery,
#network,
#memory,
#bluetooth,

#window {
    margin-left: 60px;
    margin-right: 60px;
    background: alpha(@background, 0.3);
    border-radius: 10px;
    color: lighter(@main-color);
}

#clock {
    color: lighter(@main-color);
    background: transparent;
}

#clock.date {
    margin-left: 15px;
    margin-right: 15px;
}

#clock.time {
  font-size: 22px;
  font-family: "Ndot55";
  margin: 4px 0px 0px 15px;
}

#network {
    color: lighter(@main-color);
    background: transparent;
}

#bluetooth {
    color: lighter(@main-color);
    background: transparent;
} 

#battery {
    color: lighter(@main-color);
    background: transparent;
}

#pulseaudio {
    color: lighter(@main-color);
    background: transparent;
    margin-right: 20px;
}

#custom-power {
  color: lighter(@main-color);
  background: transparent;
  margin-right: 15px;
}

#custom-weather {
  color: lighter(@main-color);
  background: transparent;
  margin-top: 2px;
  margin-left: 15px;
  margin-right: 15px;
}

#custom-playerctl {
  color: lighter(@color7);
  background: transparent;
  margin-left: 5px;
} 

#custom-playerctl.Playing {
  color: lighter(@main-color)
}

#custom-swaync {
  color: lighter(@main-color);
  background: transparent;
  margin-right: 15px;
}

#custom-recorder.recording {
  background: alpha(#000000, 0.5);
  border-radius: 16px;
  color: #ff3300;
  font-family: "Font Awesome 5 Free", sans-serif;
  font-size: 12px;
  padding: 0px 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 15px;
  margin-left: 0px;
}

#custom-separator.line {
  color: @foreground;
  background: transparent;
  font-family: "Font Awesome 5 Free", sans-serif;
  margin-right: 10px;
  margin-bottom: 5px;
  /* padding: 0px 10px; */
  /* margin-top: 5px; */
  /* margin-bottom: 5px; */
}

#custom-separator.dot {
  color: lighter(@color12);
  background: transparent;
  font-family: "Font Awesome 5 Free", sans-serif;
  margin-left: 0px;
  padding: 0px 5px;
  margin-right: 0px;
  margin-bottom: 0px;
}

#custom-keyboard {
  color: lighter(@main-color);
  background-color: transparent;
  padding: 2px 8px;
  border-radius: 5px;
  margin-right: 15px;
}

#temperature {
  color: lighter(@main-color);
  background: transparent;
  margin-right: 20px;
}

#cpu {
  color: lighter(@main-color);
  background: transparent;
  margin-right: -8px;
}

#memory {
    color: lighter(@main-color);
    background: transparent;
    margin-left: 5px;
    margin-right: 5px;
}

#disk {
  color: lighter(@main-color);
  background: transparent;
  margin-left: 5px;
  margin-right: 7px;
}

#calendar {
    font-family: "DepartureMono Nerd Font";
}
